In [2]:
import pandas as pd
df = pd.read_csv("clean_data.csv")

In [3]:
df[['title','genres']].head(50)

,title,genres
0,Battle: Freestyle,Romance-Drama
1,S.O.S. Mamis: La película,Comedy
2,AI Love You,Comedy-Romance-Science Fiction
3,Battle: Freestyle,Romance-Drama
4,Gone Mom: The Disappearance of Jennifer Dulos,TV Movie-Thriller-Crime
5,Doctor Strange: The Fabric of Reality,Documentary
6,Matando Cabos 2: La Máscara del Máscara,Action-Comedy-Adventure
7,Matando Cabos 2: La Máscara del Máscara,Action-Comedy-Adventure
8,The Lion King,Adventure-Drama-Family
9,Dory's Reef Cam,Family-Animation-Comedy-Adventure
10,Dory's Reef Cam,Family-Animation-Comedy-Adventure
11,BTS World Tour 'Love Yourself - Speak Yourself...,Music
12,Why Women Cheat,Romance
13,The Little Mermaid,Animation-Family-Fantasy
14,Jesus,Family-History-Music
15,Terrifier,Horror-Thriller
16,Jesus,Family-History-Music
17,Scream,Crime-Horror-Mystery
18,Sexo,Comedy
19,Sexo,Comedy
20,Porno,Drama
21,Megan,Action-Science Fiction
22,Pinocchio,Drama-Family-Fantasy
23,BTS World Tour 'Love Yourself - Speak Yourself...,Music
24,Wrong Turn,Horror-Thriller-Drama
25,Cinderella,Romance-Fantasy-Family-Drama
26,Untitled 'The Walking Dead' Film,Adventure-Drama-Horror-Science Fiction
27,Escape the Undertaker,Horror-Mystery-Family
28,Mulan,Adventure-Fantasy-Drama-Action
29,The Belly of the Sea,Drama
30,A un paso de mí,Adventure-Comedy-Drama
31,The Mad Hatter,Horror-Thriller
32,Twilight,Animation-Drama
33,A un paso de mí,Adventure-Comedy-Drama
34,Beauty and the Beast,Family-Fantasy-Romance
35,Ava,Drama
36,Finding Grace,Drama
37,Finding Grace,Drama
38,Breathless,Crime-Drama-Thriller
39,XXXMOG!,NaN
40,Clean Sex,Comedy
41,Dream 9 Toriko & One Piece & Dragon Ball Z Sup...,Animation
42,House of the Witch,Horror-TV Movie
43,The Mad Hatter,Horror-Thriller
44,Twilight,Animation-Drama
45,Sonic Maskarada,Family-Animation
46,Aladdin,Adventure-Fantasy-Romance-Family
47,Sonic Maskarada,Family-Animation
48,Twilight,Animation-Drama
49,Super Monsters: Once Upon a Rhyme,Animation

In [4]:
# Specific string to search for
#specific_string = 'Comedy'

# User input for the specific string to search for
specific_string = input("Enter the specific string to search for: ")


# Boolean indexing to get rows with the specific string in the column
list_specific_string = df[df['genres'] == specific_string]

# Print the resulting DataFrame
#print(list_specific_string[['title','genres']])
list_specific_string[['title','genres']]

                         title   genres
12             Why Women Cheat  Romance
390                   365 Days  Romance
416         The Girl Next Door  Romance
662              The Protector  Romance
877               Endless Love  Romance
...                        ...      ...
145324             Come Closer  Romance
145370             Sweet Night  Romance
145515           Train Station  Romance
145574      Today and Tomorrow  Romance
146590  Premarital Examination  Romance

[937 rows x 2 columns]

In [8]:
# User input for the specific genre to search for
specific_genre = input("Enter the specific genre to search for: ")

# Boolean indexing to get rows with the specific genre in the column (case-insensitive)
matching_rows = df[df['genres'].str.lower().str.contains(specific_genre, na=False)]

# Check if there are any rows with the specific genre
if not matching_rows.empty:
    # Print only the 'title' and 'column_name' columns for the rows with the specific genre
    print(matching_rows[['title', 'genres']])
else:
    print("No rows found with the specific genre.")

                    title                          genres
0       Battle: Freestyle                   Romance-Drama
2             AI Love You  Comedy-Romance-Science Fiction
3       Battle: Freestyle                   Romance-Drama
12        Why Women Cheat                         Romance
25             Cinderella    Romance-Fantasy-Family-Drama
...                   ...                             ...
147021    Expiration Date                  Romance-Comedy
147057           Mehbooba               Adventure-Romance
147071   Night Disclosure                   Drama-Romance
147076         Two by Two                  Romance-Comedy
147133               Chef            Comedy-Romance-Drama

[9153 rows x 2 columns]

In [9]:
df_encoded = df

In [11]:
# Split the 'genres' column based on hyphens, then explode the list-like values into separate rows
df_exploded = df['genres'].str.split('-', expand=True).stack().reset_index(level=1, drop=True)

# Drop duplicates to get unique strings
unique_genres = df_exploded.drop_duplicates()

# Print the unique genres
print(unique_genres)

0              Romance
0                Drama
1               Comedy
2      Science Fiction
4             TV Movie
4             Thriller
4                Crime
5          Documentary
6               Action
6            Adventure
8               Family
9            Animation
11               Music
13             Fantasy
14             History
15              Horror
17             Mystery
53             Western
126                War
dtype: object

In [13]:
# Split the 'genres' column based on hyphens, then get dummies for each genre
df_encoded = df['genres'].str.get_dummies('-')

# Print the encoded DataFrame
df_encoded

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147388,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
147389,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
147390,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
147391,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
147392,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [15]:
df_encoded.sum()

Action              7253
Adventure           3657
Animation           8294
Comedy             21771
Crime               6078
Documentary        19608
Drama              45604
Family              4241
Fantasy             3684
History             2326
Horror              9901
Music               5575
Mystery             3782
Romance             9153
Science Fiction     3784
TV Movie            4235
Thriller           10359
War                 1691
Western             1469
dtype: int64